{{#if err}}<span style="color: #FF0000;">{{err}}</span>{{/if}}
<form action="/login" method="post">
    <input name="username" id="username" type="text" placeholder="Your username" />
    <input name="password" id="password" type="password" placeholder="Your password"/>
    <input type="submit" />
</form>